@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
  --pink: hsl(322, 100%, 66%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  min-height: 210vh;
  position: relative;
}

body::after {
  content: '';
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  height: 2800px;
  width: 78.5rem;
  margin: 0 auto;

  position: absolute;
  z-index: -3;

  background: url('design/desktop-design.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

.heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.container {
  max-width: 80rem;
  padding: 4rem auto 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

.hero {
  background-color: hsl(197, 100%, 96%);
  width: 100%;
}
.menu {
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.1rem 0;
}

.menu .logo {
  width: 11rem;
}

.menu .logo img {
  width: 100%;
}

.btn {
  text-decoration: none;
  padding: 0.75rem 3.4rem;
  background-color: #fff;
  border-radius: 3rem;

  font-size: 0.8rem;
  color: black;
  font-weight: 700;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
}

.hero-main {
  display: flex;
  margin-bottom: 2.5rem;
  align-items: center;
}

.hero-main > * {
  flex: 1;
}

.hero-main .left {
  flex: 1.5;
  padding: 0 3rem 0 5rem;
  line-height: 1.45;
}

.left h1 {
  margin-bottom: 1.4rem;
}

.left p {
  font-size: 0.98rem;
  margin-bottom: 2.2rem;
}

.btn.btn-ping {
  color: rgb(255, 255, 255);
  background: var(--pink);
}

.hero-main .right {
  flex: 2;
  padding: 0 2.8rem 0 0;
}

.hero-main .right img {
  width: 98%;
}

/* GROW TOGETHER SECTION */
.grow-together {
  display: flex;

  margin-top: 9.3rem;
  background-color: #fff;
  border-radius: 0.5rem;
  max-width: 67rem;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.grow-together .left {
  padding-left: 6.5rem;
  padding-top: 8rem;
}

.grow-together p {
  padding-right: 4rem;
  line-height: 1.5;
}

.grow-together h2 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  padding-top: 0.4rem;
}

.grow-together .right img {
  width: 80%;
  margin: 2rem 0 3.5rem 4rem;
}

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}
