@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
  --pink: hsl(322, 100%, 66%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  /* min-height: 210vh; */
  position: relative;
}

/* body::after {
  content: '';
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  height: 2800px;
  width: 78.5rem;
  margin: 0 auto;

  position: absolute;
  z-index: -3;

  background: url('design/desktop-design.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
} */

/* .container, footer{
  opacity: .8
} */

.heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.container {
  max-width: 80rem;
  padding: 4rem auto 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

.hero {
  width: 100%;

  background: url(images/bg-hero-desktop.svg), hsl(197, 100%, 96%);
  background-size: cover;
  background-repeat: no-repeat;
}
.menu {
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.1rem 0;
}

.menu .logo {
  width: 11rem;
}

.menu .logo img {
  width: 100%;
}

.btn {
  text-decoration: none;
  padding: 0.75rem 3.4rem;
  background-color: #fff;
  border-radius: 3rem;

  font-size: 0.8rem;
  color: black;
  font-weight: 700;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  transition: background 0.4s, color 0.3s;
}

.hero-main {
  display: flex;
  margin-bottom: 2.5rem;
  align-items: center;
}

.hero-main > * {
  flex: 1;
}

.hero-main .left {
  flex: 1.5;
  padding: 0 3rem 0 5rem;
  line-height: 1.45;
}

.left h1 {
  margin-bottom: 1.4rem;
}

.left p {
  font-size: 0.98rem;
  margin-bottom: 2.2rem;
}

.btn.btn-ping {
  color: rgb(255, 255, 255);
  background: var(--pink);
}

.hero-main .right {
  flex: 2;
  padding: 0 2.8rem 0 0;
}

.hero-main .right img {
  width: 98%;
}

/* ********************** */
/* GROW TOGETHER SECTION */
/* ********************** */
.grow-together {
  margin-top: 9.3rem;
}
.your-users {
  margin-top: 2.6rem;
  padding-bottom: 1rem;
}

.grow-together,
.your-users {
  display: flex;

  background-color: #fff;
  border-radius: 0.5rem;
  max-width: 67rem;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.grow-together .left,
.your-users .left {
  padding-left: 6.5rem;
  padding-top: 8rem;
}

.grow-together p,
.your-users p {
  padding-right: 6rem;
  line-height: 1.5;
}

.grow-together h2,
.your-users h2 {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  padding-top: 0.4rem;
}

.grow-together .right img,
.your-users .right img {
  width: 80%;
  margin: 3rem 0 2.5rem 4rem;
}

/* ********************** */
/* FLOWING COVERSATION SECTION */
/* ********************** */
.flowing-conversation {
  display: flex;

  margin-top: 1.8rem;
  background-color: #fff;
  border-radius: 0.5rem;
  max-width: 67rem;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 3rem;
}

.flowing-conversation .left {
  padding-top: 8.5rem;
  padding-left: 3rem;
  padding-right: 1.5rem;
}

.flowing-conversation h2 {
  margin-bottom: 0.8rem;
}

.flowing-conversation .right {
  order: -1;
}

.flowing-conversation .right img {
  padding-top: 4.5rem;
  padding-left: 5rem;
  width: 80%;
}

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}

/* ********************** */
/* SUBSCRIBE SECTION */
/* ********************** */
.community {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border-radius: 1rem;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 43.5rem;
  margin: 8.8rem;

  padding: 3.5rem 2rem 3rem;
}

.community h2 {
  font-size: 1.77rem;
  margin-bottom: 2rem;
}

.community .btn {
  font-size: 1.1rem;
  padding: 1.5rem 5.2rem;
}

footer {
  z-index: 1;
  margin-top: -14.35rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #fff;
  padding: 10.5rem 7.3rem 0 0;

  width: 100vw;
  background: #00252e;
}

.st-row {
  width: 58rem;
  margin-bottom: 1.8rem;
}

.st-row img {
  filter: brightness(0) invert(1);
  align-self: left;
  width: 205px;
}

.footer-container {
  display: flex;
  width: 80rem;
  margin-bottom: 1rem;
}

.footer-container ul {
  list-style: none;
}
.footer-container ul li a {
  text-decoration: none;
  color: #fff;
}

.col-1 {
  width: 20rem;
  margin-right: 7.65rem;
  margin-left: 11rem;
}

.col-1-data {
  display: flex;
  align-items: flex-start;

  font-size: 0.87rem;
  margin-bottom: 1.3rem;
}

.col-1-data:first-of-type img {
  height: 18px;
  margin-right: 1.1rem;
}

.col-1-data img {
  height: 14px;
  margin-top: 0.3rem;
  margin-right: 1.1rem;
}

.col-1-data p {
  line-height: 1.5;
}

.col-2,
.col-3 {
  font-size: 1rem;
  margin-right: 6.5rem;
}

.col-2 li,
.col-3 li {
  margin-bottom: 1rem;
}

.col-4 {
  margin-left: 1.8rem;
  width: 10rem;
}
.col-4 a {
  color: #fff;
}

.icona {
  margin-right: 1.5rem;
  font-size: 0.8rem;

  display: inline-block;
  margin: 2%;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 12px;
  width: 12px;
  height: 12px;
  color: rgb(255, 255, 255);
  position: relative;
  transition: all 0.1s;
}

.icona a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

footer .copy {
  width: 100%;
  text-align: right;
  padding-right: 9rem;
  font-size: 0.68rem;

  margin-bottom: 3.5rem;
}

@media (hover: hover) {
  /* when hover is supported */
  .button a.btn:hover {
    color: rgb(124, 133, 142);
  }

   a.btn.btn-ping:hover {
    background: rgb(255, 155, 219);
    color:#fff;
  }

  .col-2 ul li a:hover,
  .col-3 ul li a:hover {
    border-bottom: 0.2px solid #fff;
    padding-bottom: 0.2px;
  }

  .icona:hover a {
    color: var(--pink);
  }

  .icona:hover {
    border-color: var(--pink);
  }
}

@media screen and (max-width: 768px){
 body{
  width: 100vw;
 }
  .container{
    width: 768px;
 }

 .hero{
  background:url(images/bg-hero-mobile.svg), hsl(197, 100%, 96%);
background-repeat: no-repeat;
background-size:contain;
background-position: top;
 }

 .hero .menu{
 padding: 0 2rem;
 }

 .menu .button .btn{
  font-size: 1.2rem;
 }

 .hero-main{
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .hero-main .left h1{
  margin-top: 7rem;
  margin-bottom: 2.5rem;
  padding: 0 2rem;
  text-align: center;
  font-size: 3rem;
 }

 .hero p{
  font-size: 2rem;
  padding: 0 1rem;
  text-align: center;
  margin-bottom: 5rem;
 }


 .button{
  display:flex;
  justify-content: center;
 }
 .hero-main .btn-ping{
  font-size: 1.5rem;
  padding:1.5rem 7rem;
  margin-bottom: 7rem;
 }

 .hero-main .right{
  padding:0 4rem;
  flex:auto;
 }

 .right img{
  width: 100%;
  padding: 0;
  margin-bottom: 2rem;
 }
}
