@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
    --pink:: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%)
    --very-dark-cyan: hsl(192, 100%, 9%)
    --grayish-blue: hsl(208, 11%, 55%)
  }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    min-height: 210vh;
    position: relative;
}

body::after {
  content: '';
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  height: 2800px;
  width: 78.5rem;
  margin:0 auto;

  position: absolute;
  z-index: -1;

  background: url('design/desktop-design.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

.heading{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.container {
    max-width: 80rem;
    padding: 4rem auto 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu{
    width: 87vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 3.1rem 0;
  }

  .menu .logo{
    width: 11rem;
  }

  .menu .logo img{
    width: 100%;
  }

  .button .btn{


    /* opacity: .5; */

    text-decoration: none;
    padding:.75rem 3.4rem;
    background-color: #fff;
    border-radius: 3rem;

    font-size: .8rem;
    color:black;
    font-weight: 700;

    box-shadow: 0 0 10px rgba(0,0,0,.12);
  }



.attribution { display:none; font-size: 11px; text-align: center; }
